:host {
  display: block;
  box-sizing: border-box;
  height: 100%;

  .schedule-container {

    .side-block {
      width: 460px;

      &.right-block {

        .info-block {
          padding-bottom: 21px;
          border-bottom: 1px solid #d3deea;
          h4 {
            line-height: 22px;
            font-size: 16px;
            font-weight: 600;
          }
          p {
            line-height: 24px;
            font-size: 16px;
            margin: 0 0 7px 31px;
          }
          .mark {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 7px;
          }
        }
      }
    }
  }
}
