:host {
  display: block;
  box-sizing: border-box;
  height: 100%;

  h1 {
    margin-bottom: 42px;
    line-height: 58px;
    font-size: 42px;
    font-weight: 600;
  }

  .schedule-container {

    .side-block {
      width: 460px;

      &.left-block {

        .user-block {
          border-left: 3px solid #fd995d;
          margin-bottom: 58px;

          .avatar {
            margin-left: 20px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100px;
              height: 100px;
            }
          }
          .user-info {
            margin-left: 16px;
            h4 {
              margin: 0;
              line-height: 28px;
              font-size: 16px;
              font-weight: 600;
            }
            p {
              margin: 0;
              line-height: 28px;
              font-size: 16px;
              color: #808e9c;
            }
          }
        }

        .calendar-wrapper {
          margin-top: 58px;
        }

        .notes-block {
          margin-top: 50px;
          h4 {
            line-height: 42px;
            font-size: 16px;
            font-weight: 600;
          }
          p {
            margin-top: 7px;
            font-size: 16px;
            line-height: 25px;
          }
        }
      }

      &.right-block {

        .info-block {
          padding-bottom: 21px;
          border-bottom: 1px solid #d3deea;
          h4 {
            line-height: 22px;
            font-size: 16px;
            font-weight: 600;
          }
          p {
            line-height: 24px;
            font-size: 16px;
            margin: 0 0 7px 31px;
          }
          .mark {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 7px;
          }
        }
      }
    }
  }
}
