$viridian: #1e7e8f;
$tealish: #27a5bc;
$tealish-two: #2ab0c9;
$gunmetal: #4a525a;
$bluish-grey: #808e9c;
$bluish-grey2: #707e8c;
$light-blue-grey: #d4dfea;
$alto: #dcdcdc;
$pale-grey: #f7f9fb;
$blush: #f37b73;
$white: #ffffff;
