/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
}

body {
  font-size: 12pt;
  font-family: "Open Sans", Times, serif;
  line-height: 1.3;
  color: #4a525a;
}

.bold {
  font-weight: 600;
}

.vacation-bg {
  box-shadow: inset 0 0 0 1000px #ffd300;
}

.call-unavailability-bg {
  box-shadow: inset 0 0 0 1000px #5dcf5e;
}

.educational-leave-bg {
  box-shadow: inset 0 0 0 1000px #4a90e2;
}

.call-night-bg {
  box-shadow: inset 0 0 0 1000px #f978a7;
}

.off-weekend-bg {
  box-shadow: inset 0 0 0 1000px #ab78f9;
}

.hospitalist-rounding-bg {
  box-shadow: inset 0 0 0 1000px #fd995d;
}

.volunteer-shift-bg {
  box-shadow: inset 0 0 0 1000px #f14437;
}

.comp-time-bg {
  box-shadow: inset 0 0 0 1000px #a5db10;
}
