/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
}

body {
  font: 12pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}
